/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --poppins-font: "Poppins", sans-serif;
  --inter-font: "Inter", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #222;
  --primary-clr: #289bde;
  --heading-text-clr: #071b27;
  --secondary-text-clr: #666;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
}
body {
  font-family: var(--poppins-font);
}
.common_btn {
  font-size: 16px;
  font-weight: var(--medium-weight);
  color: var(--white-clr);
  padding: 8px 15px;
  background-color: var(--transparent-clr);
  transition: var(--transition);
  border-radius: 5px;
  border: 1px solid var(--white-clr);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.common_btn:hover {
  border: 1px solid transparent;
  background-color: var(--primary-clr);
  border-color: var(--primary-clr);
}
.commonSection_sub_heading {
  color: var(--primary-clr);
  font-size: 20px;
  font-weight: var(--medium-weight);
  line-height: normal;
}
.commonSection_heading {
  color: var(--heading-text-clr);
  font-size: 40px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
}
.commonSection_heading_content {
  color: var(--secondary-text-clr);
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: normal;
  letter-spacing: 0.2px;
}
/* ============= common css end here ================ */
/* ============= navbar css start here ============= */
nav {
  width: 100%;
  padding: 23px 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--transparent-clr);
  z-index: 99999;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_logo {
  font-size: 40px;
  font-weight: var(--regular-weight);
  color: var(--white-clr);
}
.menu_wrapper {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding: 0 83px 0 266px;
}
.nav_link {
  font-size: 16px;
  font-weight: var(--medium-weight);
  color: var(--white-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav_link:hover {
  color: var(--primary-clr);
}
.nav_button_wrapper {
  display: flex;
  align-items: center;
  column-gap: 18px;
  justify-content: end;
}
.nav_btn:nth-child(2) {
  padding: 8px 35px;
}
/* ============= navbar css end here ============= */
/* ================ banner css start here ================ */
#banner {
  padding: 277px 0 350px 0;
  background-color: var(--heading-text-clr);
  position: relative;
}
.banner_wrapper {
  text-align: center;
}
.banner_wrapper h4 {
  font-size: 30px;
  font-weight: var(--medium-weight);
  color: var(--white-clr);
}
.banner_wrapper h1 {
  max-width: 1117px;
  margin: 0 auto;
  font-size: 70px;
  font-weight: var(--bold-weight);
  color: var(--white-clr);
  line-height: normal;
}
.banner_btn_wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.banner_btn {
  padding: 20px 30px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.banner_shape_left {
  position: absolute;
  left: 75px;
  top: 320px;
  width: 355px;
  height: 245px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.banner_shape_right {
  position: absolute;
  right: 75px;
  top: 320px;
  width: 386px;
  height: 245px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.banner_shape_left picture img,
.banner_shape_right picture img {
  width: 100%;
  height: 100%;
}

/* ================ banner css end here ================ */
/* ================ card css start here ================ */
#card {
  position: relative;
  margin-top: -207px;
  z-index: 999;
}
.card_wrapper {
  display: flex;
  position: relative;
  margin: 0 30px;
}
.card_item {
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.card_item:nth-child(1) {
  width: 343px;
  height: 433px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 18px 56px 0px rgba(0, 0, 0, 0.07);
}
.card_item:nth-child(2) {
  width: 235px;
  height: 282px;
  border-radius: 12px;
  margin: 70px 0 0 32px;
  box-shadow: 0px 16px 52px 0px rgba(0, 0, 0, 0.07);
}
.card_item:nth-child(3) {
  width: 300px;
  height: 141px;
  border-radius: 8px;
  box-shadow: 0px 14px 48px 0px rgba(0, 0, 0, 0.07);
  position: absolute;
  left: 495px;
  top: 0;
}
.card_item:nth-child(4) {
  width: 446px;
  height: 386px;
  border-radius: 12px;
  margin-top: 66px;
  box-shadow: 0px 18px 56px 0px rgba(0, 0, 0, 0.07);
  position: absolute;
  right: 0;
  top: 66px;
}
.card_item picture img {
  width: 100%;
  height: 100%;
}
/* ================ card css end here ================ */

/* ================ about section css start here ================ */
#about_us {
  padding: 140px 0;
}
.about_heading_wrapper {
  text-align: center;
  padding-bottom: 60px;
}
.about_heading_wrapper .commonSection_heading_content {
  width: 613px;
  margin: 0 auto;
}
.about_content_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
.about_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_item_wrapper:nth-child(even){
  flex-direction: row-reverse;
}
.about_item_heading {
  color: #07003b;
  font-size: 42px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.about_item_details {
  color: var(--secondary-text-clr);
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: 41px;
  max-width: 730px;
}
.about_item_details_highlight {
  font-weight: var(--bold-weight);
  color: var(--primary-clr);
}
.about_item_image {
  max-width: 454px;
  max-height: 485px;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.about_item_image img{
  width: 100%;
  height: 100%;
}

/* ================ about section css end here ================ */

/* ================ banner css start here ================ */
/* ================ banner css end here ================ */

/* ================ banner css start here ================ */
/* ================ banner css end here ================ */

/* ================ banner css start here ================ */
/* ================ banner css end here ================ */

/* ================ banner css start here ================ */
/* ================ banner css end here ================ */

/* ================ banner css start here ================ */
/* ================ banner css end here ================ */
