/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --poppins-font: "Poppins", sans-serif;
  --inter-font: "Inter", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #222;
  --primary-clr: #289bde;
  --heading-text-clr: #071b27;
  --secondary-text-clr: #666;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
}
body {
  font-family: var(--poppins-font);
}
.common_btn {
  font-size: 16px;
  font-weight: var(--medium-weight);
  color: var(--white-clr);
  padding: 8px 15px;
  background-color: var(--transparent-clr);
  transition: var(--transition);
  border-radius: 5px;
  border: 1px solid var(--white-clr);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.common_btn:hover {
  border: 1px solid transparent;
  background-color: var(--primary-clr);
  border-color: var(--primary-clr);
}
.commonSection_sub_heading {
  color: var(--primary-clr);
  font-size: 20px;
  font-weight: var(--medium-weight);
  line-height: normal;
}
.commonSection_heading {
  color: var(--heading-text-clr);
  font-size: 40px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
}
.commonSection_heading_content {
  color: var(--secondary-text-clr);
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: normal;
  letter-spacing: 0.2px;
}
/* ============= common css end here ================ */
/* ============= navbar css start here ============= */
nav {
  width: 100%;
  padding: 23px 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--transparent-clr);
  z-index: 99999;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_logo {
  font-size: 40px;
  font-weight: var(--regular-weight);
  color: var(--white-clr);
}
.menu_wrapper {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding: 0 83px 0 266px;
}
.nav_link {
  font-size: 16px;
  font-weight: var(--medium-weight);
  color: var(--white-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav_link:hover {
  color: var(--primary-clr);
}
.nav_button_wrapper {
  display: flex;
  align-items: center;
  column-gap: 18px;
  justify-content: end;
}
.nav_btn:nth-child(2) {
  padding: 8px 35px;
}
/* ============= navbar css end here ============= */
/* ================ banner css start here ================ */
#banner {
  padding: 277px 0 350px 0;
  background-color: var(--heading-text-clr);
  position: relative;
}
.banner_wrapper {
  text-align: center;
}
.banner_wrapper h4 {
  font-size: 30px;
  font-weight: var(--medium-weight);
  color: var(--white-clr);
}
.banner_wrapper h1 {
  max-width: 1117px;
  margin: 0 auto;
  font-size: 70px;
  font-weight: var(--bold-weight);
  color: var(--white-clr);
  line-height: normal;
}
.banner_btn_wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.banner_btn {
  padding: 20px 30px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.banner_shape_left {
  position: absolute;
  left: 75px;
  top: 320px;
  width: 355px;
  height: 245px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.banner_shape_right {
  position: absolute;
  right: 75px;
  top: 320px;
  width: 386px;
  height: 245px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.banner_shape_left picture img,
.banner_shape_right picture img {
  width: 100%;
  height: 100%;
}

/* ================ banner css end here ================ */
/* ================ card css start here ================ */
#card {
  position: relative;
  margin-top: -207px;
  z-index: 999;
}
.card_wrapper {
  display: flex;
  position: relative;
  margin: 0 30px;
}
.card_item {
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.card_item:nth-child(1) {
  width: 343px;
  height: 433px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 18px 56px 0px rgba(0, 0, 0, 0.07);
}
.card_item:nth-child(2) {
  width: 235px;
  height: 282px;
  border-radius: 12px;
  margin: 70px 0 0 32px;
  box-shadow: 0px 16px 52px 0px rgba(0, 0, 0, 0.07);
}
.card_item:nth-child(3) {
  width: 300px;
  height: 141px;
  border-radius: 8px;
  box-shadow: 0px 14px 48px 0px rgba(0, 0, 0, 0.07);
  position: absolute;
  left: 495px;
  top: 0;
}
.card_item:nth-child(4) {
  width: 446px;
  height: 386px;
  border-radius: 12px;
  margin-top: 66px;
  box-shadow: 0px 18px 56px 0px rgba(0, 0, 0, 0.07);
  position: absolute;
  right: 0;
  top: 66px;
}
.card_item picture img {
  width: 100%;
  height: 100%;
}
/* ================ card css end here ================ */

/* ================ about section css start here ================ */
#about_us {
  padding: 140px 0;
}
.about_heading_wrapper {
  text-align: center;
  padding-bottom: 60px;
}
.about_heading_wrapper .commonSection_heading_content {
  width: 613px;
  margin: 0 auto;
}
.about_content_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
.about_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_item_wrapper:nth-child(even) {
  flex-direction: row-reverse;
}
.about_item_heading {
  color: #07003b;
  font-size: 42px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.about_item_details {
  color: var(--secondary-text-clr);
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: 41px;
  max-width: 730px;
}
.about_item_details_highlight {
  font-weight: var(--bold-weight);
  color: var(--primary-clr);
}
.about_item_image {
  max-width: 454px;
  max-height: 485px;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.about_item_image img {
  width: 100%;
  height: 100%;
}

/* ================ about section css end here ================ */

/* ================ service section css start here ================ */
#service {
  padding: 156px 0;
  background-color: var(--heading-text-clr);
}
.service_heading_Wrapper .commonSection_sub_heading {
  color: var(--white-clr);
  line-height: normal;
  font-weight: var(--bold-weight);
}
.service_heading_Wrapper .commonSection_heading {
  color: var(--white-clr);
  line-height: normal;
  font-weight: var(--bold-weight);
  padding-bottom: 60px;
}
.service_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service_item {
  width: 644px;
  padding: 40px;
  border-radius: 8px;
  border: 1px solid var(--transparent-clr);
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.1);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.service_item:hover {
  border-color: var(--white-clr);
}
.service_img {
  width: 564px;
  height: 447px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-bottom: 44px;
}
.service_img img {
  width: 100%;
  height: 100%;
}
.service_content_heading {
  display: flex;
  align-items: center;
  column-gap: 9px;
  color: var(--white-clr);
  font-size: 30px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
  padding-bottom: 24px;
}
.service_item_details_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.service_item_details {
  color: var(--white-clr);
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: normal;
  position: relative;
  padding-left: 38px;
}
.service_item_details_check {
  position: absolute;
  left: 0;
  top: 10px;
  color: var(--primary-clr);
  width: 21px;
  height: 24px;
  border: 1px solid var(--primary-clr);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.service_item_details_highlight {
  color: var(--primary-clr);
  font-weight: bold;
}
/* ================ service section css end here ================ */

/* ================ commitment section css start here ================ */
#commitment {
  padding: 140px 0;
}
.commitment_section_heading .commonSection_heading {
  width: 450px;
  font-weight: var(--bold-weight);
  margin-bottom: 33px;
}
.commitment_content_wrapper {
  display: flex;
  gap: 200px;
}
.commitment_item_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.commitment_item {
  display: flex;
  column-gap: 18px;
}
.commitment_logo {
  width: 47px;
  height: 47px;
}
.commitment_item_name {
  color: var(--heading-text-clr);
  font-size: 26px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
  letter-spacing: 0.26px;
  padding-bottom: 12px;
  margin-top: 4px;
}
.commitment_item_details {
  width: 479px;
  color: var(--secondary-text-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: 27px;
  letter-spacing: 0.16px;
}
.commitment_graph {
  width: 662px;
  height: 519px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.commitment_graph picture img {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

/* ================ commitment section css end here ================ */

/* ================ testimonials section css start here ================ */
#testimonials {
  padding-bottom: 144px;
}
.testimonials_heading_wrapper {
  text-align: center;
  margin-bottom: 58px;
}
.testimonials_heading_wrapper .commonSection_heading_content {
  max-width: 628px;
  margin: 0 auto;
}
.testimonials_item_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px 22px;
}
.testimonials_item {
  width: 431px;
  height: 249px;
  border-radius: 5px;
  border: 1px solid rgba(102, 102, 102, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 17px 15px;
}
.testimonials_user_wrapper {
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-bottom: 17px;
}
.testimonials_user_img {
  width: 68px;
  height: 68px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials_user_img img {
  width: 100%;
  height: 100%;
}
.testimonials_user_name {
  color: var(--heading-text-clr);
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: normal;
  margin-bottom: 4px;
}
.testimonials_ratings_wrapper {
  font-size: 16px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #ffb906;
}
.testimonials_user_details {
  width: 377px;
  color: var(--secondary-text-clr);
  font-size: 15px;
  font-weight: var(--regular-weight);
  line-height: 27px;
  margin: 0 auto;
}

/* ================ testimonials section css end here ================ */

/* ================ banner css start here ================ */
/* ================ banner css end here ================ */

/* ================ banner css start here ================ */
/* ================ banner css end here ================ */
